@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --font-min: 16px;
  --font-preferred: .8vw;
  --font-max: 24px;
  --title-min: 16px;
  --title-preferred: 12vw;
  --title-max: 20vw;
  --lineheight-multiplier: 1.4;
}

@layer utilities {
  .hide-scrolling {
      overflow-y: scroll;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  .hide-scrolling::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
  }
  .text-contrast {
    color: #fff;
    mix-blend-mode: difference;
  }
  .text-title-responsive {
    font-size: clamp(var(--title-min), var(--title-preferred), var(--title-max));
    line-height: clamp(--lineheight-multipler*var(--title-min), --lineheight-multipler*var(--title-preferred), --lineheight-multipler*var(--title-max));
  }
  .text-responsive {
    font-size: clamp(var(--font-min), var(--font-preferred), var(--font-max));
    line-height: clamp(--lineheight-multipler*var(--font-min), --lineheight-multipler*var(--font-preferred), --lineheight-multipler*var(--font-max));
  }
    }
  .filter-grayscale {
    filter: grayscale(80%);
  }
  .section-x {
    @apply px-6 lg:px-24 2xl:px-36 mx-auto
  }
  .section-y {
    @apply pt-14 2xl:pt-28 pb-12 2xl:pb-24
  }
  .section {
    @apply section-x section-y
  }
  .slide-middle {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(#fff, #fff);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
  }
  .active {
    background-size: 100% 0.1em;
  }

  @keyframes fadeAnimation { 
    0% { 
        opacity: 0; 
        transform: translateY(50px) 
    } 
    33% { 
      opacity: 0; 
      transform: translateY(50px) 
    }
    100% { 
        opacity: 1; 
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1),
     } 
  }